.gradle
.idea
build
gradle
phonear-api.iml
hellocardboard-android/.cxx
hellocardboard-android/.externalNativeBuild/
hellocardboard-android/build/
hellocardboard-android/hellocardboard-android.iml
hellocardboard-android/libraries/
local.properties
sdk/.cxx/
sdk/.externalNativeBuild/
sdk/build/
sdk/sdk.iml
sdk/gradlew
sdk/gradlew.bat
